.team {
  @include max-width;
  margin: ($gutter * 2) auto;

  @include mobile {
    margin-top: 0;
    padding-top: $gutter;
    background: $blue;
  }

  h2, h3 {
    color: $green;
    font-size: 2.8rem;
    text-transform: uppercase;
    text-align: center;

    @include mobile {
      color: $black;
    }
  }

  h3 {
    font-size: 2.2rem;
    color: $gray;
  }

  &__members {
    margin: $gutter 0;
    // ie fix
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // all browsers than ie11
    @supports(display: grid) {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 3rem;
      gap: 3rem;
      @include mobile {
          grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  &__member {
    text-align: center;
    font-size: 1.6rem;
    max-width: 172px;
    // all browsers than ie11
    @supports(display: grid) {
      width: 100%;
      max-width: none;
    }

    figure {
      border-radius: 100%;
      max-width: 172px;
      // all browsers than ie11
      @supports(display: grid) {
        width: 100%;
        max-width: none;
      }
  

      img {}
    }

    &-name {
      @include bold;
      margin-top: 1em;
    }
  }

  &__text {
    display: flex;
    @include target-ie10-11 {
      figure {
        flex: 1; 
        img {
          max-width: 100%;
        }
      }
    }

    @include mobile {
      flex-direction: column-reverse;
      padding-bottom: $gutter;

      figure {
        margin-bottom: $gutter;
        margin-left: -$gutter;
        margin-right: -$gutter;
        
        flex-basis: auto; 

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    div {
      max-width: 40ch;
      margin-right: $gutter;
      @include target-ie10-11 {
        flex: 0 0 400px; 
        max-width: none;
      }

      @include mobile  {
        max-width: 100%;
        margin-right: 0;
      }
    }

    p + p {
      margin-top: 1em;
    }
  }
}

_:-ms-fullscreen, :root .team__text figure { 
  @include mobile  {
    margin-bottom: -$gutter;
  }
}