.text1 {
  @include max-width;
  margin: $gutter * 2 auto;

  &__cover {
    z-index: -1;
    position: relative;
    height: 300px;
    margin-right: $gutter * 2;
    color: $white;

    background-position: -50px;
    border-radius: 2rem;
    margin-bottom: $gutter;

    @include mobile {
      margin-left: -$gutter;
      margin-right: -$gutter;
      border-radius: 0;
    }

    h2 {
      position: absolute;
      left: $gutter / 2;
      bottom: $gutter / 2;

      @include mobile { display: none; }
      strong { display: block; }
    }

    svg {
      position: absolute;
      height: 60%;
      left: 40%;
      bottom: 0;

      @include mobile {
        left: $gutter;
        height: auto;
        width: 20vw;
        min-width: 100px;
      }
    }
  }

  h2 {
    text-transform: uppercase;
    font-size: 2.8rem;
    line-height: 1.2;
    strong {
      display: block;
    }
  }

  & > h2 {
    display: none;
    @include mobile {
      color: $brown;
      display: block;
      margin-bottom: 1em;
    }
  }

  h3 {
    @include bold;
    text-transform: uppercase;
    margin-bottom: $gutter;
  }

  &__content {
    display: flex;
    @include mobile {
      display: block;
    }
  }

  &__text {
    padding-right: $gutter * 2;
    @include mobile { padding: 0; }
  }

  aside {}

  blockquote {
    @include bold;
    background: $brown;
    margin-top: -$gutter * 1.5;

    @include mobile {
      margin: $gutter 0;
    }
  }
}
