.text3 {
  @include max-width;
  margin: $gutter * 2 auto;

  figure {
    height: 40rem;
    position: relative;
    margin-bottom: $gutter;
    margin-left: -$gutter;
    margin-right: -$gutter;
    color: $white;

    background-size: cover;

    @include mobile {
      margin-left: -$gutter;
      margin-right: -$gutter;
    }

    &::after {
      content: '';
      position: absolute;
      opacity: 0.6;
      background: linear-gradient(rgba(0, 0, 0, 0.1), black);
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    h2 {
      z-index: 2;
      position: absolute;
      font-size: 2.8rem;
      text-transform: uppercase;
      left: $gutter * 2;
      width: 40%;
      bottom: $gutter;

      span {
        @include mobile { display: none; }
      }

      svg {
        display: block;
        width: 8ch;
        margin-bottom: 1em;
      }
    }
  }

  &__content {
    display: flex;
    margin-top: -$gutter * 1.5;

    @include mobile {
      display: block;
      margin-top: 0;
    }
  }

  &__left {
    z-index: 2;
    background: $white;
    border-radius: 1rem;
    padding: 4rem;
    margin-right: $gutter;
    max-width: 40%;

    @include mobile {
      padding: 0;
      max-width: none;
    }

    h2 {
      display: none;
      @include mobile {
        font-size: 2.8rem;
        display: block;
        color: $green;
        text-transform: uppercase;
        margin-bottom: 1em;
      }
    }

    h3 {
      @include bold;
      margin-bottom: 1em;
    }
  }

  &__right {}

  blockquote {
    background: $lightgreen;
  }
}
